<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true">

    <testsuites>
        <testsuite name="payjp-bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>./src/Resources/</directory>
                <directory>./src/vendor/</directory>
                <file>./src/PolidogPayjpBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
